Repository brilliantshell/ft_transcendence, pull requests merged in 2023-03, with the labels that each got.

#185 ✨ feat : 유저 컴포넌트를 보고 있는 유저에게만 activity 변경 정보 전달 #165
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/activity.manager.spec.ts
  backend/src/user-status/activity.manager.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#186 ✨ feat : 채팅방 생성 및 입장 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelCreateForm.tsx
  frontend/src/components/chats/ChatsBody.tsx
  frontend/src/components/chats/ChatsFrame.tsx
  frontend/src/components/chats/FormModal.tsx
  frontend/src/components/chats/PasswordForm.tsx
  frontend/src/style/Chats.css
  frontend/src/style/FormModal.css
  frontend/src/style/presets/Alert.css
  frontend/src/style/presets/general.css
  frontend/src/util/Alert.ts
  frontend/src/views/Chats.tsx
Labels: frontend

#190 🐛 fix : 게임 대기큐 취소 실패 수정
  backend/src/game/interceptor/ladder-queue.interceptor.ts
  package-lock.json
  package.json
Labels: bug, backend

#193 ✨ feat : chats Axios 에러 핸들링 및 style 적용
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelCreateForm.tsx
  frontend/src/components/chats/ChannelSvg.tsx
  frontend/src/components/chats/ChatsBody.tsx
  frontend/src/components/chats/ChatsFrame.tsx
  frontend/src/components/chats/FormModal.tsx
  frontend/src/components/chats/PasswordForm.tsx
  frontend/src/components/chats/interface.ts
  frontend/src/style/Chats.css
  frontend/src/style/FormModal.css
  frontend/src/style/presets/Alert.css
  frontend/src/style/presets/reset.css
  frontend/src/util/Alert.ts
  frontend/src/views/Chats.tsx
Labels: enhancement, frontend

#196 🐛 fix : Chats websocket 에 userId 와 channelId 가 반대로 전달
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
Labels: bug, backend

#192 ✨ feat : 게임 데이터 흐름 추가 DRAFT
  backend/src/game/interceptor/game-start.interceptor.ts
  backend/src/game/interceptor/ladder-queue.interceptor.ts
  frontend/src/App.tsx
  frontend/src/UserIdInput.test.tsx
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GameDataHooks.tsx
  frontend/src/components/User.tsx
  frontend/src/components/UserBase.tsx
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/WaitingRoom/GamesList.tsx
  frontend/src/components/common/FriendsList.tsx
  frontend/src/components/hooks/EmitCurrentUi.tsx
  frontend/src/style/App.css
  frontend/src/style/WaitingRoom.css
  frontend/src/util/Alert.ts
  frontend/src/util/Axios.ts
  frontend/src/util/Socket.ts
  frontend/src/views/Chats.tsx
  frontend/src/views/GameRoom.tsx
  frontend/src/views/Ranks.tsx
  frontend/src/views/WaitingRoom.tsx
Labels: bug, enhancement, backend, frontend

#201 ♻️ GET /user/friend 수정 #200
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/user.e2e-spec.ts
Labels: backend

#202 ✨ feat : User 컴포넌트 생성
  frontend/src/components/FriendsList/Content.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/Rank/MyRank.tsx
  frontend/src/components/Rank/RankList.tsx
  frontend/src/components/User.tsx
  frontend/src/components/User/BlockButton.tsx
  frontend/src/components/User/FriendButton.tsx
  frontend/src/components/User/GameButton.tsx
  frontend/src/components/User/User.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/components/common/FriendsList.tsx
  frontend/src/components/common/Main.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/components/hooks/SocketOnHooks.ts
  frontend/src/main.tsx
  frontend/src/style/App.css
  frontend/src/style/FriendsList.css
  frontend/src/style/User.css
  frontend/src/style/UserBase.css
  frontend/src/util/Recoils.ts
  frontend/src/views/ChatRoom.tsx
  frontend/src/views/Ranks.tsx
Labels: enhancement, frontend

#207 ✨ Chats UI WebSocket event 핸들링
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/channel.storage.ts
  frontend/src/components/Rank/RankList.tsx
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelCreateForm.tsx
  frontend/src/components/chats/ChatsBody.tsx
  frontend/src/components/chats/FormModal.tsx
  frontend/src/components/chats/PasswordForm.tsx
  frontend/src/components/chats/hooks/ChannelHooks.tsx
  frontend/src/views/Chats.tsx
Labels: enhancement, backend, frontend

#208 :sparkles: feat : 게임방 데이터 흐름
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/dto/game.dto.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/game.storage.ts
  backend/src/game/interceptor/game-reset-ball.interceptor.ts
  backend/src/game/interceptor/game-start.interceptor.ts
  backend/src/profile/profile.service.ts
  backend/src/util/type.ts
  backend/test/game.e2e-spec.ts
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GameDataHooks.tsx
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/GameRoom/hooks/GameResizeHooks.tsx
  frontend/src/components/GameRoom/util/GamePainter.ts
  frontend/src/components/GameRoom/util/interfaces.ts
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/WaitingRoom/GamesList.tsx
  frontend/src/util/Recoils.ts
  frontend/src/views/GameRoom.tsx
Labels: enhancement, backend, frontend

#210 ✨ feat : chats UI 를 보고 있는 유저가 Ban 당한 경우 이벤트 전송
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/test/chats.e2e-spec.ts
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelSvg.tsx
  frontend/src/components/chats/ChatsBody.tsx
  frontend/src/components/chats/ChatsFrame.tsx
  frontend/src/components/chats/FormModal.tsx
  frontend/src/components/chats/PasswordForm.tsx
  frontend/src/components/chats/hooks/ChannelHooks.tsx
  frontend/src/views/Chats.tsx
Labels: backend, frontend

#213 ✨ feat : rank UI style 적용
  backend/src/user/user.service.ts
  frontend/src/components/Rank/MyRank.tsx
  frontend/src/components/Rank/RankList.tsx
  frontend/src/components/Rank/RanksItem.tsx
  frontend/src/components/Rank/RanksList.tsx
  frontend/src/style/Ranks.css
  frontend/src/views/Ranks.tsx
Labels: frontend

#214 ✨ feat : 게임 엔진 백엔드로 이전 및 반응형 구현
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/game.engine.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/interceptor/game-reset-ball.interceptor.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/game.e2e-spec.ts
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/GameRoom/util/GamePainter.ts
  frontend/src/components/GameRoom/util/interfaces.ts
Labels: enhancement, backend, frontend

#219 :sparkles: feat : 게임 종료 후 UX 개선
  backend/src/game/game.engine.ts
  backend/src/game/game.gateway.ts
  backend/src/util/type.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GameDataHooks.tsx
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/GameRoom/util/GamePainter.ts
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/hooks/EmitCurrentUi.tsx
  frontend/src/util/Recoils.ts
  frontend/src/util/Socket.ts
  frontend/src/views/GameRoom.tsx
Labels: bug, enhancement, backend, frontend

#220 ✨ feat : ranks UI WS 이벤트 추가
  backend/src/chats/chats.service.ts
  frontend/src/components/Rank/MyRank.tsx
  frontend/src/components/Rank/RanksItem.tsx
  frontend/src/components/Rank/RanksList.tsx
  frontend/src/components/Rank/hooks/UpdateRank.tsx
  frontend/src/components/Rank/interface.ts
  frontend/src/components/search/SearchModalBody.tsx
  frontend/src/style/Ranks.css
  frontend/src/views/Ranks.tsx
Labels: backend

#224 ✨ feat : 채팅방 내부 기능 추가
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats.dto.ts
  backend/src/chats/guard/channel-owner.guard.ts
  backend/src/chats/pipe/message-transform.pipe.ts
  backend/src/chats/pipe/validate-channel-info.pipe.ts
  backend/src/user-status/channel.storage.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/chats.e2e-spec.ts
Labels: backend

#227 ✨ FriendList 기능 추가, chatRoom UI 제작
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/ChatRoom/Message.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/FriendsList/Content.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/FriendsList/UserPendingReceivers.tsx
  frontend/src/components/Rank/RanksList.tsx
  frontend/src/components/User/BlockButton.tsx
  frontend/src/components/User/Dropdown.tsx
  frontend/src/components/User/FriendButton.tsx
  frontend/src/components/User/GameButton.tsx
  frontend/src/components/User/User.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/style/ChatRoom.css
  frontend/src/style/FriendsList.css
  frontend/src/style/User.css
  frontend/src/style/UserBase.css
  frontend/src/style/index.css
  frontend/src/style/presets/color.css
  frontend/src/util/Recoils.ts
  frontend/src/views/ChatRoom.tsx
Labels: enhancement, frontend

#228 ✨ feat : chats UI 에서 방 정보 변경 event 적용
  backend/src/chats/chats.gateway.ts
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelSvg.tsx
  frontend/src/components/chats/ChatsFrame.tsx
  frontend/src/components/chats/FormModal.tsx
  frontend/src/components/chats/hooks/ChannelHooks.tsx
  frontend/src/style/index.css
  frontend/src/views/Chats.tsx
Labels: frontend

#232 ✨ feat : profile 페이지 레이아웃
  frontend/public/assets/achievements/.filename
  frontend/public/assets/achievements/achievement1.png
  frontend/public/assets/achievements/achievement2.png
  frontend/public/assets/achievements/achievement3.png
  frontend/public/assets/achievements/achievement4.png
  frontend/public/assets/achievements/achievement5.png
  frontend/src/components/Profile/Achievements.tsx
  frontend/src/components/Profile/LadderProgressBar.tsx
  frontend/src/components/Profile/MatchHistoryList.tsx
  frontend/src/components/Profile/MenuBar.tsx
  frontend/src/components/Profile/WinLossTotalCounter.tsx
  frontend/src/style/Profile/Achievements.css
  frontend/src/style/Profile/LadderProgressBar.css
  frontend/src/style/Profile/MatchHistoryList.css
  frontend/src/style/Profile/MenuBar.css
  frontend/src/style/Profile/Profile.css
  frontend/src/style/Profile/WinLossTotalCounter.css
  frontend/src/views/Profile.tsx
Labels: enhancement, frontend

#235 ♻️ useCurrentUi import 및 css index 파일 생성
  frontend/src/components/Profile/Achievements.tsx
  frontend/src/components/Profile/LadderProgressBar.tsx
  frontend/src/components/Profile/MatchHistoryList.tsx
  frontend/src/components/Profile/MenuBar.tsx
  frontend/src/components/Profile/WinLossTotalCounter.tsx
  frontend/src/style/Profile/index.css
  frontend/src/style/index.css
  frontend/src/views/Profile.tsx
Labels: bug, frontend

#237 ✨ feat : chatRoom UI 에 초대 기능 구현
  backend/src/chats/guard/join-channel.guard.ts
  backend/src/profile/profile.service.ts
  frontend/src/components/ChatRoom/ChannelInvitationButton.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/hooks/EmitCurrentUi.tsx
  frontend/src/components/search/Search.tsx
  frontend/src/components/search/SearchModal.tsx
  frontend/src/components/search/SearchModalBody.tsx
  frontend/src/components/search/SearchModalFooter.tsx
  frontend/src/components/search/SearchModalHeader.tsx
  frontend/src/style/Ranks.css
  frontend/src/style/search.css
  frontend/src/views/ChatRoom.tsx
Labels: backend, frontend

#241 ✨ feat : chatRoom UI 에서 방 설정 기능 구현
  backend/src/profile/profile.service.ts
  frontend/src/components/ChatRoom/ChannelUpdateButton.tsx
  frontend/src/components/ChatRoom/ChannelUpdateForm.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/Profile/MatchHistoryList.tsx
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChannelCreate.tsx
  frontend/src/components/chats/ChannelCreateForm.tsx
  frontend/src/components/chats/PasswordForm.tsx
  frontend/src/components/common/FormModal/ChannelAccessModeField.tsx
  frontend/src/components/common/FormModal/ChannelPasswordField.tsx
  frontend/src/components/common/FormModal/FormModal.tsx
  frontend/src/views/Chats.tsx
Labels: backend

#242 :sparkles: feat : 일반 게임 UX
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/dto/game.dto.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/game.e2e-spec.ts
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GameOption.tsx
  frontend/src/components/GameRoom/GameOptionForm.tsx
  frontend/src/components/GameRoom/GameOptionSelectionButton.tsx
  frontend/src/components/GameRoom/GameOptionSvg.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GameDataHooks.tsx
  frontend/src/components/GameRoom/util/interfaces.ts
  frontend/src/components/User/GameButton.tsx
  frontend/src/components/User/User.tsx
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/common/Animation.tsx
  frontend/src/components/common/HoverBox.tsx
  frontend/src/components/common/Main.tsx
  frontend/src/components/hooks/CurrentUi.tsx
  frontend/src/style/GameRoom.css
  frontend/src/style/WaitingRoom.css
  frontend/src/style/index.css
  frontend/src/style/presets/animation.css
  frontend/src/style/presets/general.css
  frontend/src/util/Alert.ts
  frontend/src/util/Recoils.ts
  frontend/src/views/ChatRoom.tsx
  frontend/src/views/Chats.tsx
  frontend/src/views/GameRoom.tsx
  frontend/src/views/Profile.tsx
  frontend/src/views/Ranks.tsx
  frontend/src/views/WaitingRoom.tsx
Labels: enhancement, backend, frontend

#244 ✨ feat : 채팅방에서 Mute 된 멤버가 메시지 전송시 에러 메시지 수정
  backend/src/chats/guard/member-messaging.guard.ts
Labels: backend

#246 ✨ feat : 채널에 초대받은 유저의 참여한 채널 목록 업데이트
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.ts
  frontend/src/components/chats/hooks/ChannelHooks.tsx
  frontend/src/views/Chats.tsx
Labels: backend

#249 ✨ feat : 응답으로 message 를 전송 하는 경우 messageId 추가 #248
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats-gateway.dto.ts
  backend/src/chats/guard/join-channel.guard.ts
  backend/src/user-status/channel.storage.ts
  backend/src/util/type.ts
  backend/test/chats-gateway.e2e-spec.ts
Labels: backend

#251 :bug: fix : HTTP 와 Socket 에서 전달하는 message 타입이 다른 문제 해결
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/dto/chats-gateway.dto.ts
  backend/test/chats-gateway.e2e-spec.ts
Labels: backend

#261 ✨ feat : 일반 게임 초대 거절 API
  backend/src/game/game.controller.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/guard/existing-game.guard.ts
  backend/src/game/guard/is-player.guard.ts
  backend/src/game/guard/ladder-restriction.guard.ts
  backend/src/game/interceptor/game-start.interceptor.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/game.e2e-spec.ts
Labels: enhancement, backend

#263 ✨ feat: ChatRoom 기능 구현
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/ChatRoom/Message.tsx
  frontend/src/components/ChatRoom/UserLeftButton.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/User/Dropdown.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/util/Alert.ts
  frontend/src/views/ChatRoom.tsx
  frontend/src/views/Chats.tsx
Labels: enhancement, frontend

#268 🐛 fix : 프로필 사진이 설정시 isDefaultImage 정확히 설정
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
Labels: backend

#272 :sparkles: feat : ErrorBoundary 및 Axios interceptor 를 활용한 Error handling
  backend/src/guard/mock-auth.guard.ts
  frontend/src/App.tsx
  frontend/src/components/ChatRoom/Message.tsx
  frontend/src/components/Rank/MyRank.tsx
  frontend/src/components/Rank/RanksList.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/hooks/CurrentUi.tsx
  frontend/src/style/Ranks.css
  frontend/src/util/Axios.ts
  frontend/src/util/Recoils.ts
  frontend/src/views/Ranks.tsx
Labels: frontend

#282 :sparkles: feat : 로그아웃 & nav 스타일
  backend/src/app.controller.ts
  frontend/index.html
  frontend/public/assets/logo.png
  frontend/public/assets/react.svg
  frontend/src/components/common/Navigation.tsx
  frontend/src/style/Nav.css
  frontend/src/style/index.css
  frontend/src/style/presets/general.css
Labels: enhancement, frontend

#277 :sparkles: feat : 로그인 UI 구현 완료
  .gitignore
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.ts
  frontend/src/App.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/style/Login.css
  frontend/src/views/Login.tsx
Labels: backend, frontend

#286 ✨ feat : 채팅창 스크롤 이벤트 & friendList 다른영역 누르기
  frontend/public/assets/arrow-up-circle.png
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/ChatRoom/Message.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/FriendsList/UserPendingReceivers.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/style/ChatRoom.css
  frontend/src/util/Alert.ts
Labels: enhancement, frontend

#293 :bug: fix : 사소한 버그들 fix
  docker-compose.yml
  frontend/src/AppWrapper.tsx
  frontend/src/components/Chats/ChatsBody.tsx
  frontend/src/components/Search/SearchModalBody.tsx
  frontend/src/components/common/PublicRoutes.tsx
  frontend/src/style/Chats.css
  frontend/src/style/presets/general.css
  frontend/src/util/Axios.ts
  frontend/src/views/Chats.tsx
  frontend/src/views/SignUp.tsx
Labels: frontend

#298 :sparkles: feat : 전체적인 ui & ux 개선
  frontend/src/components/FriendsList/Content.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/User/BlockButton.tsx
  frontend/src/components/User/Dropdown.tsx
  frontend/src/components/User/FriendButton.tsx
  frontend/src/components/User/GameButton.tsx
  frontend/src/components/User/User.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/components/common/NotFoundComponent.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/main.tsx
  frontend/src/style/App.css
  frontend/src/style/FriendsList.css
  frontend/src/style/User.css
  frontend/src/style/UserBase.css
  frontend/src/views/GameRoom.tsx
Labels: enhancement, frontend

#297 ✨ feat: profile 탭 menu 버튼 기능 구현 및 오류 수정
  frontend/src/components/Profile/Achievements.tsx
  frontend/src/components/Profile/ChangeNickname.tsx
  frontend/src/components/Profile/DeleteImage.tsx
  frontend/src/components/Profile/LadderProgressBar.tsx
  frontend/src/components/Profile/MatchHistoryList.tsx
  frontend/src/components/Profile/MenuBar.tsx
  frontend/src/components/Profile/TwoFASetting.tsx
  frontend/src/components/Profile/UploadImage.tsx
  frontend/src/components/Profile/WinLossTotalCounter.tsx
  frontend/src/style/Profile/Achievements.css
  frontend/src/style/Profile/LadderProgressBar.css
  frontend/src/style/Profile/MatchHistoryList.css
  frontend/src/style/Profile/MenuBar.css
  frontend/src/style/Profile/Profile.css
  frontend/src/style/Profile/WinLossTotalCounter.css
  frontend/src/util/Alert.ts
  frontend/src/views/ChatRoom.tsx
  frontend/src/views/Profile.tsx
Labels: enhancement, frontend

#301 ✨ feat: 닉네임, 프로필 변경 시 리랜더링
  frontend/src/components/Profile/ChangeNickname.tsx
  frontend/src/components/Profile/DeleteImage.tsx
  frontend/src/components/Profile/LadderProgressBar.tsx
  frontend/src/components/Profile/UploadImage.tsx
  frontend/src/components/User/FriendButton.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/util/Alert.ts
  frontend/src/util/Recoils.ts
  frontend/src/views/Profile.tsx
Labels: enhancement, frontend

#304 💄 style: profile 탭 반응형 적용 및 세세한 부분 수정
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/style/ChatRoom.css
  frontend/src/style/FriendsList.css
  frontend/src/style/Profile/Achievements.css
  frontend/src/style/Profile/LadderProgressBar.css
  frontend/src/style/Profile/MatchHistoryList.css
  frontend/src/style/Profile/MenuBar.css
  frontend/src/style/Profile/Profile.css
  frontend/src/style/Profile/WinLossTotalCounter.css
Labels: enhancement, frontend

#302 ✨ feat : 업적 달성 구현 및 Users Controller 버그 수정
  backend/src/login/login.module.ts
  backend/src/login/login.service.ts
  backend/src/profile/profile.module.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/src/user/user.controller.ts
Labels: backend

#312 ✨ feat : 채팅방에서 차단된 관계에 있는 유저의 메시지 제외 후 전송
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.ts
  backend/src/profile/profile.service.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.ts
Labels: backend

#313 ✨ feat : 2FA 페이지 구현
  frontend/src/components/common/Navigation.tsx
  frontend/src/components/common/PublicRoutes.tsx
  frontend/src/style/TwoFA.css
  frontend/src/style/index.css
  frontend/src/views/TwoFactorAuth.tsx
Labels: frontend

#311 💄 style: ChatRoom, FriendList UI 수정
  frontend/src/components/ChatRoom/ChannelInvitationButton.tsx
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/ChatRoom/UserLeftButton.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/FriendsList/FriendsList.tsx
  frontend/src/components/FriendsList/UserPendingReceivers.tsx
  frontend/src/components/Profile/Achievements.tsx
  frontend/src/components/Profile/MatchHistoryList.tsx
  frontend/src/components/Profile/TwoFASetting.tsx
  frontend/src/style/ChatRoom.css
  frontend/src/style/FriendsList.css
  frontend/src/style/presets/color.css
  frontend/src/util/Alert.ts
Labels: frontend

#319 🐛 fix: chatroom에서 발생하는 오류 해결 및 스타일 개선
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/style/ChatRoom.css
Labels: bug, enhancement, frontend

#321 🐛 fix : 유저 로그인 시 storage 에 load 하는 시점 변경하여 #320 해결
  backend/src/auth/jwt-auth.io-adapter.ts
  backend/src/chats/chats.module.ts
  backend/src/chats/chats.service.ts
  backend/src/main.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.ts
Labels: backend

#325 🐛 fix: chatRoom에서 나오는 버그 수정
  frontend/src/components/ChatRoom/ChannelUpdateButton.tsx
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/ChatRoom/Message.tsx
  frontend/src/components/ChatRoom/UserList.tsx
  frontend/src/components/User/UserBase.tsx
  frontend/src/components/hooks/CurrentUi.tsx
  frontend/src/style/ChatRoom.css
  frontend/src/style/presets/color.css
  frontend/src/util/Recoils.ts
  frontend/src/views/ChatRoom.tsx
Labels: bug, frontend

#324 🐛 fix : DM 방 관련 Chats UI 버그 수정 #323
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/channel.storage.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  frontend/src/components/Chats/hooks/ChannelHooks.tsx
  frontend/src/views/Chats.tsx
Labels: backend

#328 :sparkles: feat : 게임 재연결
  backend/src/game/game.controller.ts
  backend/src/game/game.service.ts
  backend/src/game/game.storage.ts
  backend/src/game/guard/spectator-block.guard.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/util/type.ts
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GameOption.tsx
  frontend/src/components/GameRoom/GameOptionForm.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GameDataHooks.tsx
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/GameRoom/util/GamePainter.ts
  frontend/src/components/GameRoom/util/interfaces.ts
  frontend/src/components/User/GameButton.tsx
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/common/Main.tsx
  frontend/src/components/hooks/CurrentUi.tsx
  frontend/src/util/Recoils.ts
  frontend/src/views/GameRoom.tsx
Labels: enhancement, backend, frontend

#330 ✨ feat : 차단 및 차단 해제 시 채팅방 메시지 실시간 업데이트 구현
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/guard/member-messaging.guard.ts
  backend/src/user/user.module.ts
  frontend/src/components/ChatRoom/ChatList.tsx
  frontend/src/components/Chats/PasswordForm.tsx
  frontend/src/components/Chats/interface.ts
  frontend/src/components/Rank/MyRank.tsx
  frontend/src/components/Search/SearchModalFooter.tsx
  frontend/src/components/Search/hooks/SearchKeyPress.tsx
  frontend/src/components/hooks/CurrentUi.tsx
  frontend/src/views/ChatRoom.tsx
Labels: enhancement, backend, frontend

#332 🐛 fix : 소켓 disconnect 후 cache 가 필요한 요청 오면 500 에러
  backend/src/chats/chats.service.ts
  backend/src/user-status/channel.storage.ts
  backend/src/user-status/user-relationship.storage.ts
Labels: backend

#333 🐛 fix: 4096글자 이상일 때 나오는 alert 문구 수정
  frontend/src/components/ChatRoom/ChatInput.tsx
Labels: bug, frontend

#335 :lipstick: style : 채팅룸 style 수정 ##331
  frontend/src/components/ChatRoom/ChatInput.tsx
  frontend/src/style/ChatRoom.css
Labels: frontend
