Repository brilliantshell/ft_transcendence, pull requests merged in 2023-02, with the labels that each got.

#78 ✨ feat : userComponent 비지니스 로직 수행하는 UserService 구현 (Game 제외)
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/user-gateway.e2e-spec.ts
Labels: enhancement, backend

#80 ✨ feat : 채팅 비즈니스 로직을 수행하는 ChatsService 객체 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.module.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats-gateway.dto.ts
  backend/src/chats/dto/chats.dto.ts
  backend/src/user-status/channel.storage.ts
  backend/src/user-status/user-status.module.ts
  backend/test/chats-gateway.e2e-spec.ts
Labels: enhancement, backend

#82 ✨ feat : UserController 로 오는 요청들의 권한 및 유효성 UserGuard 로 검증
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.guard.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/util/type.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#86 ♻️ refactor : UserGuard 메소드별로 분리 #85
  backend/src/user/guard/accept-friend.guard.ts
  backend/src/user/guard/blocked-user.guard.ts
  backend/src/user/guard/create-friend-request.guard.ts
  backend/src/user/guard/delete-block.guard.ts
  backend/src/user/guard/delete-friend.guard.ts
  backend/src/user/guard/user-exist.guard.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.guard.ts
  backend/src/util/type.ts
Labels: enhancement, backend

#89 ✨ feat : /user routes 로 오는 요청 처리하는 UserController 구현
  backend/src/user/dto/user-gateway.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/guard/accept-friend.guard.ts
  backend/src/user/guard/blocked-user.guard.ts
  backend/src/user/guard/self-check.guard.ts
  backend/src/user/guard/user-exist.guard.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/util/type.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/generate-mock-data.ts
  backend/test/user-gateway.e2e-spec.ts
  backend/test/user.e2e-spec.ts
  backend/test/util.ts
Labels: enhancement, backend

#90 :recycle: refactor : 불필요한 async await
  backend/src/user/user.controller.ts
Labels: enhancement, backend

#91 ✨ feat : /chats 로 오는 요청을 처리하는 ChatsController 구현 #87
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.module.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats.dto.ts
  backend/src/chats/mock-auth/mock-auth.guard.ts
  backend/test/chats.e2e-spec.ts
Labels: enhancement, backend

#84 🔨 chore : layout 구성, 개발 환경 구성 및 react-router-dom 적용
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Profile.tsx
  frontend/src/components/Ranks.tsx
  frontend/src/index.css
  frontend/src/main.tsx
Labels: enhancement, frontend

#94 ✨ feat : ChatController 로 들어오는 요청의 유효성을 검증하는 객체들 구현
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.module.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats.dto.ts
  backend/src/chats/guard/channel-exist.guard.ts
  backend/src/chats/guard/join-channel.guard.ts
  backend/src/chats/guard/member-exist.guard.ts
  backend/src/chats/guard/member-messaging.guard.ts
  backend/src/chats/guard/mock-auth.guard.ts
  backend/src/chats/pipe/message-transform.pipe.ts
  backend/src/chats/pipe/validate-new-channel.pipe.ts
  backend/src/chats/pipe/validate-range.pipe.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/channel.storage.ts
  backend/test/chats.e2e-spec.ts
Labels: enhancement, backend

#99 ♻️ refactor : 관계 변화 & activity 변화 업데이트
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/dto/user-status.dto.ts
  backend/src/user-status/user-status.module.ts
  backend/src/user/dto/user-gateway.dto.ts
  backend/src/user/guard/accept-friend.guard.ts
  backend/src/user/guard/blocked-user.guard.ts
  backend/src/user/guard/create-friend-request.guard.ts
  backend/src/user/guard/delete-block.guard.ts
  backend/src/user/guard/delete-friend.guard.ts
  backend/src/user/guard/self-check.guard.ts
  backend/src/user/guard/user-exist.guard.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#102 ✨ feat : 새 채널 생성 및 채널 참여 인원 변동 시 event emit 및 refactoring
  backend/src/chats/chats.controller.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/chats/chats.service.ts
  backend/src/chats/dto/chats.dto.ts
  backend/src/chats/guard/channel-exist.guard.ts
  backend/src/chats/guard/join-channel.guard.ts
  backend/src/chats/guard/member-exist.guard.ts
  backend/src/chats/guard/member-messaging.guard.ts
  backend/src/chats/pipe/message-transform.pipe.ts
  backend/src/chats/pipe/validate-range.pipe.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/channel.storage.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/chats.e2e-spec.ts
Labels: enhancement, backend

#104 :hammer: chore : Achievers, Achievements, MatchHistory entity 생성 스크립트 추가
  backend/test/generate-mock-data.ts
Labels: backend

#106 :sparkles: feat : GameGateway & GameStorage 부분 구현
  backend/src/app.module.ts
  backend/src/chats/chats.module.ts
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.storage.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/user-status.module.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
Labels: enhancement, backend

#108 ♻️ refactor : 설정한 프로필 사진이 없으면 profileImage: null 반환
  backend/src/entity/users.entity.ts
  backend/src/user/dto/user.dto.ts
  backend/test/user.e2e-spec.ts
  database/sql/init_db.sql
Labels: backend

#111 🐛 fix : Users entity 의 Unique constraint 가 의도와 다르게 작동
  backend/src/entity/users.entity.ts
Labels: backend

#110 ✨ feat : profile 비즈니스 로직을 수행하는 ProfileService 구현 완료
  backend/src/app.module.ts
  backend/src/entity/achievements.entity.ts
  backend/src/entity/match-history.entity.ts
  backend/src/profile/profile.module.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/test/generate-mock-data.ts
Labels: enhancement, backend

#115 :sparkles: feat : GameStorage & GameGateway draft
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.storage.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/dto/user-status.dto.ts
  backend/src/user-status/user-status.module.ts
  backend/src/util/type.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/game-gateway.e2e-spec.ts
Labels: enhancement, backend

#118 ✨ feat : /profile 로 들어오는 요청을 처리하는 ProfileController 구현
  backend/asset/profile/dummy
  backend/package-lock.json
  backend/package.json
  backend/src/entity/achievements.entity.ts
  backend/src/profile/dto/profile.dto.ts
  backend/src/profile/pipe/validate-user-id.pipe.ts
  backend/src/profile/profile.controller.ts
  backend/src/profile/profile.module.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/src/profile/profile.upload-options.ts
  backend/test/generate-mock-data.ts
  backend/test/profile.e2e-spec.ts
  backend/test/test-asset/tiny.jpg
  backend/test/test-asset/tiny.png
  backend/test/test-asset/tiny.svg
Labels: enhancement, backend

#124 🔨 chore : 통합 테스트 환경 구축
  backend/.dockerignore
  backend/.env.sample
  backend/Dockerfile.dev
  backend/src/config/api-config.service.ts
  backend/src/main.ts
  backend/test/generate-mock-data.ts
  backend/test/integration/generate-mock-integration.ts
  backend/test/integration/integration.sql
  database/docker-entrypoint.dev.sh
  docker-compose.dev.yml
Labels: enhancement, backend

#122 ✨ feat : 유저 랭킹 반환하는 RanksService 구현
  backend/src/ranks/dto/ranks.dto.ts
  backend/src/ranks/ranks.module.ts
  backend/src/ranks/ranks.service.spec.ts
  backend/src/ranks/ranks.service.ts
Labels: enhancement, backend

#125 ✨ feat : UserBase component 구현
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/achievements/.filename
  frontend/public/assets/defaultProfile
  frontend/public/assets/react.svg
  frontend/src/App.tsx
  frontend/src/api/Axios.ts
  frontend/src/components/MyRank.tsx
  frontend/src/components/Ranks.tsx
  frontend/src/components/UserBase.tsx
  frontend/src/main.tsx
  frontend/src/style/App.css
  frontend/src/style/UserBase.css
  frontend/src/style/index.css
  frontend/src/views/Profile.tsx
  frontend/src/views/Ranks.tsx
Labels: enhancement, frontend

#128 ✨ feat : 42-intra 의 OAuth2.0 으로 로그인하는 FortyTwoStrategy 구현 draft
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/api-config.service.ts
  backend/src/login/forty-two.strategy.ts
  backend/src/login/login.controller.ts
  backend/src/login/login.module.ts
Labels: enhancement, backend

#126 ✨ feat : /ranks 라우팅 담당하는 RanksController 구현 #123
  backend/src/chats/chats.controller.ts
  backend/src/guard/mock-auth.guard.ts
  backend/src/pipe/validate-range.pipe.ts
  backend/src/profile/profile.controller.ts
  backend/src/ranks/dto/ranks.dto.ts
  backend/src/ranks/ranks.controller.ts
  backend/src/ranks/ranks.module.ts
  backend/src/ranks/ranks.service.spec.ts
  backend/src/ranks/ranks.service.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/chats.e2e-spec.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/profile.e2e-spec.ts
  backend/test/ranks-gateway.e2e-spec.ts
  backend/test/ranks.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#130 :recycle: refactor : 회의 내용에 따른 ProfileModule 리팩토링
  backend/asset/profile-image/dummy
  backend/src/app.module.ts
  backend/src/entity/achievements.entity.ts
  backend/src/entity/users.entity.ts
  backend/src/profile/dto/profile.dto.ts
  backend/src/profile/option/profile.upload-options.ts
  backend/src/profile/pipe/validate-user-id.pipe.ts
  backend/src/profile/profile.controller.ts
  backend/src/profile/profile.module.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/src/profile/profile.upload-options.ts
  backend/src/user/dto/user.dto.ts
  backend/test/generate-mock-data.ts
  backend/test/profile.e2e-spec.ts
  backend/test/test-asset/tiny.bmp
  backend/test/user.e2e-spec.ts
Labels: backend

#132 ✨ feat : 유저들의 ProfileImage 가 저장되는 디렉토리 static 호스팅
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
Labels: enhancement, backend

#134 :recycle: refactor : 통합 테스트 설정 리팩토링
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.service.spec.ts
  backend/src/config/constant/constant-config.ts
  backend/src/entity/users.entity.ts
  backend/src/game/game.gateway.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/src/ranks/ranks.gateway.ts
  backend/src/ranks/ranks.service.spec.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/activity.manager.spec.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/chats.e2e-spec.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/integration/generate-mock-integration.ts
  backend/test/integration/integration.sql
  backend/test/mock.repositories.ts
  backend/test/profile.e2e-spec.ts
  backend/test/ranks-gateway.e2e-spec.ts
  backend/test/ranks.e2e-spec.ts
  backend/test/user.e2e-spec.ts
  backend/test/util/db-resource-manager.ts
  backend/test/util/generate-mock-data.ts
  backend/test/util/util.ts
Labels: backend

#136 ✨ feat : 게임 관련 비즈니스 로직 수행하는 GameService 구현
  backend/src/game/dto/game.dto.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/game.storage.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/ranks-gateway.e2e-spec.ts
Labels: enhancement, backend

#140 ✨ feat : 유저 인증을 담당하는 AuthService 및 AuthGuard 구현
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.interface.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/config/api-config.service.ts
  backend/src/decorator/skip-auth.decorator.ts
  backend/src/guard/mock-auth.guard.ts
  backend/src/main.ts
  backend/src/util/type.ts
  backend/test/auth.e2e-spec.ts
  backend/test/profile.e2e-spec.ts
Labels: enhancement, backend

#141 :sparkles: feat : UseModule 에 게임 관련 기능 추가 & currentUi 수정
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/game.storage.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/dto/user-status.dto.ts
  backend/src/user/guard/create-game.guard.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/chats-gateway.e2e-spec.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/ranks-gateway.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#143 ✨ feat : 신규 유저의 sign-up 로직 구현
  backend/.env.sample
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/config/api-config.service.ts
  backend/src/login/forty-two.guard.ts
  backend/src/login/forty-two.strategy.ts
  backend/src/login/login.controller.ts
  backend/src/login/login.guard.ts
  backend/src/login/login.module.ts
  backend/src/login/login.service.ts
  backend/src/util/constant/cookie-constant.ts
  backend/src/util/type.ts
  backend/test/auth.e2e-spec.ts
  backend/test/login.e2e-spec.ts
Labels: enhancement, backend

#145 ✨ feat : /game 으로 오는 요청 처리하는 GameController 구현
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/dto/game.dto.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/guard/in-game-ui.guard.ts
  backend/src/game/guard/in-play.guard.ts
  backend/src/game/interceptor/ladder-queue.interceptor.ts
  backend/src/game/interceptor/ladder-start.interceptor.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/util/type.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/game.e2e-spec.ts
  backend/test/util/util.ts
Labels: enhancement, backend

#146 ✨ feat : 2FA 인증 구현
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.interface.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/config/api-config.service.ts
  backend/src/decorator/skip-auth.decorator.ts
  backend/src/login/forty-two.guard.ts
  backend/src/login/forty-two.strategy.ts
  backend/src/login/login.controller.ts
  backend/src/login/login.guard.ts
  backend/src/login/login.module.ts
  backend/src/util/type.ts
  backend/test/auth.e2e-spec.ts
  backend/test/login.e2e-spec.ts
Labels: enhancement, backend

#152 ✨ feat : /ranks 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/Axios.ts
  frontend/src/components/MyRank.tsx
  frontend/src/components/RankList.tsx
  frontend/src/components/User.tsx
  frontend/src/components/UserBase.tsx
  frontend/src/components/common/Header.tsx
  frontend/src/components/common/Main.tsx
  frontend/src/components/common/Navigation.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/style/Ranks.css
  frontend/src/style/UserBase.css
  frontend/src/util/Axios.ts
  frontend/src/util/Recoils.ts
  frontend/src/util/Socket.ts
  frontend/src/views/Ranks.tsx
Labels: enhancement, frontend

#154 :sparkles: feat : 게임 관련 큐 나가는 기능 추가
  backend/src/app.controller.ts
  backend/src/chats/chats.controller.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/interceptor/game-start.interceptor.ts
  backend/src/game/interceptor/ladder-queue.interceptor.ts
  backend/src/profile/profile.controller.ts
  backend/src/user/user.controller.ts
  backend/test/chats.e2e-spec.ts
  backend/test/game.e2e-spec.ts
  backend/test/login.e2e-spec.ts
  backend/test/profile.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#155 :sparkles: feat : WS connection 인증하는 JwtAuthIoAdapter 구현
  backend/src/auth/jwt-auth.io-adapter.ts
  backend/src/config/constant/constant-config.ts
  backend/src/main.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/util/type.ts
  backend/test/activity-gateway.e2e-spec.ts
  backend/test/auth.e2e-spec.ts
  backend/test/chats-gateway.e2e-spec.ts
Labels: backend

#158 ✨ feat : 게임 취소를 알리는 gameCancelled 이벤트 #156
  backend/src/game/dto/game-gateway.dto.ts
  backend/src/game/game.controller.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.service.spec.ts
  backend/src/game/game.service.ts
  backend/src/game/interceptor/game-start.interceptor.ts
  backend/src/user-status/activity.gateway.ts
  backend/test/game-gateway.e2e-spec.ts
  backend/test/game.e2e-spec.ts
  backend/test/user.e2e-spec.ts
Labels: enhancement, backend

#160 :hammer: chore : 오타 수정
  backend/src/game/game.service.spec.ts
Labels: backend

#161 ✨ feat : 2FA 이메일 검증 기능 추가
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/config/api-config.service.ts
  backend/src/login/forty-two.strategy.ts
  backend/src/profile/dto/profile.dto.ts
  backend/src/profile/profile.controller.ts
  backend/src/profile/profile.service.spec.ts
  backend/src/profile/profile.service.ts
  backend/src/util/type.ts
  backend/test/profile.e2e-spec.ts
Labels: enhancement, backend

#166 ✨ feat : 게임 방 UI layout #163
  frontend/src/components/GameRoom/GameInfo.tsx
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/style/App.css
  frontend/src/style/GameRoom.css
  frontend/src/style/presets/font.css
  frontend/src/style/presets/reset.css
  frontend/src/views/GameRoom.tsx
Labels: enhancement, frontend

#168 ✨ feat : User 컴포넌트
  frontend/public/assets/defaultProfile
  frontend/public/assets/defaultProfile.svg
  frontend/public/assets/dropdown.svg
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/components/GameRoom/GameInfo.tsx
  frontend/src/components/GameRoom/GameMenu.tsx
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/MyRank.tsx
  frontend/src/components/RankList.tsx
  frontend/src/components/User.tsx
  frontend/src/components/UserBase.tsx
  frontend/src/components/common/FriendsList.tsx
  frontend/src/components/common/Main.tsx
  frontend/src/components/common/Navigation.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/style/FriendsList.css
  frontend/src/style/User.css
  frontend/src/style/UserBase.css
  frontend/src/style/index.css
  frontend/src/style/presets/reset.css
  frontend/src/util/Axios.ts
  frontend/src/util/Socket.ts
  frontend/src/views/Chats.tsx
  frontend/src/views/Profile.tsx
  frontend/src/views/Ranks.tsx
Labels: enhancement, frontend

#172 :hammer: chore : color 변수화 & x-user-id env 로 적용
  frontend/.env.sample
  frontend/src/style/App.css
  frontend/src/style/GameRoom.css
  frontend/src/style/index.css
  frontend/src/style/presets/color.css
  frontend/src/util/Axios.ts
  frontend/src/util/Socket.ts
Labels: enhancement, frontend

#173 :lipstick: style : reset.css 변경
  frontend/src/style/presets/reset.css
Labels: frontend

#174 :sparkles: feat : 검색 기능 구현
  backend/src/app.module.ts
  backend/src/search/search.controller.ts
  backend/src/search/search.module.ts
  backend/src/search/search.service.ts
  frontend/public/assets/search-icon-secondary.svg
  frontend/public/assets/search-icon.svg
  frontend/src/components/common/Header.tsx
  frontend/src/components/search/Search.tsx
  frontend/src/components/search/SearchModal.tsx
  frontend/src/components/search/SearchModalBody.tsx
  frontend/src/components/search/SearchModalFooter.tsx
  frontend/src/components/search/SearchModalHeader.tsx
  frontend/src/components/search/hooks/SearchKeyPress.tsx
  frontend/src/style/App.css
  frontend/src/style/presets/font.css
  frontend/src/style/search.css
Labels: enhancement, backend, frontend

#177 ✨ feat : 서비스 미접속 기간 동안 받은 친구 요청 전달
  backend/src/main.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user-status/user-status.module.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/test/user.e2e-spec.ts
Labels: bug, enhancement, backend

#178 ✨ feat : 게임 플레이 UI 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/GameRoom/GamePlay.tsx
  frontend/src/components/GameRoom/hooks/GamePlayHooks.tsx
  frontend/src/components/GameRoom/hooks/GameResizeHooks.tsx
  frontend/src/components/GameRoom/util/GamePainter.ts
  frontend/src/components/GameRoom/util/interfaces.ts
  frontend/src/components/common/Routers.tsx
  frontend/src/style/App.css
  frontend/src/style/GameRoom.css
  frontend/src/style/presets/font.css
  frontend/src/style/search.css
  frontend/src/views/GameRoom.tsx
Labels: frontend

#180 ✨ feat : Chat UI Layout 완성
  frontend/src/components/chats/Channel.tsx
  frontend/src/components/chats/ChatsBody.tsx
  frontend/src/components/chats/ChatsFrame.tsx
  frontend/src/components/chats/interface.ts
  frontend/src/style/Chats.css
  frontend/src/views/Chats.tsx
Labels: enhancement, frontend

#182 💄 style : ladder 게임 대기실 UI 구현
  frontend/public/assets/fire.gif
  frontend/src/components/WaitingRoom/GameInProgressButton.tsx
  frontend/src/components/WaitingRoom/GameQueueButton.tsx
  frontend/src/components/WaitingRoom/GamesList.tsx
  frontend/src/components/common/HoverBox.tsx
  frontend/src/components/common/Navigation.tsx
  frontend/src/components/common/Routers.tsx
  frontend/src/style/App.css
  frontend/src/style/GameRoom.css
  frontend/src/style/WaitingRoom.css
  frontend/src/style/index.css
  frontend/src/style/presets/font.css
  frontend/src/style/presets/general.css
  frontend/src/style/search.css
  frontend/src/views/WaitingRoom.tsx
  package-lock.json
  package.json
Labels: frontend
