Repository brilliantshell/ft_transcendence, pull requests merged in 2023-01, with the labels that each got.

#36 :hammer: chore : NestJs 프로젝트 생성
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc
  backend/Dockerfile.dev
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test.js
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: backend

#32 🔨 chore : DB 설계 수정
  database/sql/init_db.sql
Labels: documentation, enhancement, backend

#38 🔨 chore : channels 테이블에서 is_dm 을 dm_peer_id 로 변경 #37
  database/sql/init_db.sql
Labels: backend

#43 :sparkles: feat : ApiConfigModule 구현
  backend/.env.sample
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/config/ApiConfig.module.ts
  backend/src/config/ApiConfig.service.spec.ts
  backend/src/config/ApiConfig.service.ts
Labels: enhancement, backend

#44 :recycle: refactor : import 순서 변경 및 TypeORM 링크 규칙 수정
  .gitignore
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/config/api-config.module.ts
  backend/src/config/api-config.service.spec.ts
  backend/src/config/api-config.service.ts
  backend/src/main.ts
Labels: backend

#47 🔨 chore : TypeORM entities 정의
  backend/asset/default.png
  backend/src/entities/achievements.entity.ts
  backend/src/entities/achievers.entity.ts
  backend/src/entities/banned-members.entity.ts
  backend/src/entities/blocked-users.entity.ts
  backend/src/entities/channel-members.entity.ts
  backend/src/entities/channels.entity.ts
  backend/src/entities/friends.entity.ts
  backend/src/entities/match-history.entity.ts
  backend/src/entities/messages.entity.ts
  backend/src/entities/users.entity.ts
  database/configs/postgresql.conf
  database/sql/init_db.sql
Labels: enhancement, backend

#49 ✨ feat : 유저 관계 SELECT 최적화를 위한 UserRelationshipStorage 객체 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/entity/achievements.entity.ts
  backend/src/entity/achievers.entity.ts
  backend/src/entity/banned-members.entity.ts
  backend/src/entity/blocked-users.entity.ts
  backend/src/entity/channel-members.entity.ts
  backend/src/entity/channels.entity.ts
  backend/src/entity/friends.entity.ts
  backend/src/entity/match-history.entity.ts
  backend/src/entity/messages.entity.ts
  backend/src/entity/users.entity.ts
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user-status/user-status.module.ts
  backend/src/util/type.ts
  backend/test/generate-mock-data.ts
Labels: enhancement, backend

#53 :recycle: refactor : luxon 라이브러리 entity 에 적용 및 테스트 파일 단위로 DB 분리
  backend/package-lock.json
  backend/package.json
  backend/src/entity/achievers.entity.ts
  backend/src/entity/banned-members.entity.ts
  backend/src/entity/channel-members.entity.ts
  backend/src/entity/channels.entity.ts
  backend/src/entity/date-time.transformer.ts
  backend/src/entity/match-history.entity.ts
  backend/src/entity/messages.entity.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-status.module.ts
  backend/test/db-resource-manager.ts
  backend/test/generate-mock-data.ts
Labels: enhancement, backend

#54 ✨ feat : 채팅방과 유저 관계 SELECT 최적화를 위한 ChannelStorage 객체 구현
  backend/src/entity/achievements.entity.ts
  backend/src/entity/achievers.entity.ts
  backend/src/entity/banned-members.entity.ts
  backend/src/entity/blocked-users.entity.ts
  backend/src/entity/channel-members.entity.ts
  backend/src/entity/channels.entity.ts
  backend/src/entity/date-time.transformer.ts
  backend/src/entity/friends.entity.ts
  backend/src/entity/match-history.entity.ts
  backend/src/entity/messages.entity.ts
  backend/src/entity/users.entity.ts
  backend/src/user-status/channel.storage.spec.ts
  backend/src/user-status/channel.storage.ts
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/util/type.ts
  backend/test/generate-mock-data.ts
Labels: enhancement, backend

#56 ✨ feat : 유저가 머무르고 있는 UI 정보 저장하는 ActivityManager 구현 #55
  backend/src/user-status/activity.manager.spec.ts
  backend/src/user-status/activity.manager.ts
  backend/src/user-status/user-status.module.ts
  backend/src/util/type.ts
Labels: enhancement, backend

#63 :sparkles: feat : WS connection 인증 및 WS rooms 할당 의사코드 작성
  backend/src/user-status/activity.gateway.ts
Labels: backend

#67 ♻️ refactor : ActivityGateway e2e 테스트 callback -> Promise & clientSocket 연결 확인
  backend/.env.sample
  backend/src/user-status/activity.gateway.spec.ts
  backend/src/user-status/activity.gateway.ts
  backend/test/activity-gateway.e2e-spec.ts
Labels: backend

#70 🔨 chore : Vite를 활용한 React 및 TypeScript 프로젝트 생성
  frontend/.gitignore
  frontend/Dockerfile.dev
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: enhancement, frontend

#72 ✨ feat : chat WS 이벤트 핸들링 하는 ChatsGateway 구현
  backend/src/app.module.ts
  backend/src/chats/chats.gateway.ts
  backend/src/chats/chats.interface.ts
  backend/src/chats/chats.module.ts
  backend/src/user-status/activity.gateway.ts
  backend/src/user-status/user-status.module.ts
  backend/test/chats-gateway.e2e-spec.ts
Labels: enhancement, backend

#74 ✨ feat : userComponent & friendsToggle 관련 WS 이벤트 핸들링하는 UserGateway 객체 구현
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.gateway.ts
  backend/src/util/type.ts
  backend/test/user-gateway.e2e-spec.ts
Labels: enhancement, backend

#76 ✨ feat : UserService 프로필 정보 반환 및 DM 방 생성
  backend/package-lock.json
  backend/package.json
  backend/src/user-status/user-relationship.storage.spec.ts
  backend/src/user-status/user-relationship.storage.ts
  backend/src/user/dto/user-gateway.dto.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.gateway.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/test/db-resource-manager.ts
  backend/test/generate-mock-data.ts
  backend/test/user-gateway.e2e-spec.ts
Labels: enhancement, backend
